<div class="footer">
    <section class="first">
        <h5>About the company</h5>
        <p>We are creative team, trying to achieve perfection of every client's wish.</p>
    </section>

    <section class="second">
        <h5>Information</h5>
        <ul>
            <li><a href="{{ site.baseurl }}{{ page.url }}about">About us</a></li>
            <li><a href="{{ site.baseurl }}{{ page.url }}contacts">Contacts</a></li>
            <li><a href="{{ site.baseurl }}{{ page.url }}blog">Blog</a></li>
            <li><a href="{{ site.baseurl }}{{ page.url }}services">Services</a></li>
            <li><a href="https://ec.europa.eu/info/cookies_en">Cookies</a></li>
            <li><a href="https://ec.europa.eu/info/privacy-policy_en">Privacy Policy</a></li>
        </ul>
    </section>
    <section class="third">
        <h5>Follow us</h5>
        <ul>
            <li><a href="https://www.pinterest.com/nicolemicklefl/video_pins/">Pinterest</a></li>
            <li><a href="https://www.facebook.com/beachvolleyBg">Facebook</a></li>
            <li><a href="https://www.instagram.com/interior_ideas_home/">Instagram</a></li>
        </ul>
    </section>
    <section class="fourth">
        <h5>Find us</h5>
        <a href="{{ site.baseurl }}findus/">Click here to see the location of our offices</a>
    </section>
</div>