.service-page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0;
  margin-bottom: 20em;
  
}

.service-page li {
  background: #a6a0ff;
  padding: 1.5em;
  list-style: none outside;
  position: relative;
}

.service-page i {
  font-size: 1.2em;
}

.service-page li:hover:after {
  padding-left: 1em;
}

.service-page li:nth-child(1):hover:after {
  content: "- If you need help sewing curtains or other home textiles, we can recommend our partner. Contact Tailoring Services in the Home Textile Department.";
}

.service-page li:nth-child(2):hover:after {
  content: "- When designing a kitchen, it is especially important that all dimensions are taken correctly. If you need help, we can recommend an outside company to measure the room and we can check if the selected kitchen model will fit. For more information, contact the Installation Department in the Customer Service sector.";
}

.service-page li:nth-child(3):hover:after {
  content: "If you want us to install your kitchen for you - we will be happy to help you with the service Kitchen installation. Our furniture and accessories are designed for self-assembly, but we can recommend an external company to help you assemble them at home or at work.";
}

.service-page li:nth-child(4):hover:after {
  content: "If you need help, we can provide home delivery from an independent company at a reasonable price.";
}

.service-page li:nth-child(5):hover:after {
  content: "Create the kitchen or wardrobe of your dreams! Design in a 3D program, choose colors and combinations that you will find in our collaborator or design only at home.";
}


.service-two li:nth-child(1):hover:after {content: "Our visitors can leave their vehicles for free in the parking lot of the store.";}
.service-two li:nth-child(2):hover:after {content: "To make it easier for people with reduced mobility, we have special parking spaces and wheelchairs. You can request additional information from our associate at the entrance of the store.";}
.service-page li:last-child:hover:after > li:nth-child(3) {content: "In case you find missing or defective components in the packaging of your purchases, in the "Customer Service" sector you can find most of the most used spare parts.";}
.service-page li:last-child:hover:after > li:nth-child(4) {content: "For the convenience of parents we offer special strollers for shopping. We also have rooms designed for the care and hygiene of babies.";}