.container {
  display: flex;
}

.tabcontent {
  width: 10em;
  height: 14m;
  border: 1px solid black;
  text-align: center;
  background: wheat;
  margin: 1em;
  padding-bottom: 1em;
}

.tabcontent h4 {
  padding: 0.5em;
}

.tabcontent p,
.tabcontent ul {
  padding: 0 0.5em;
}

.tabcontent > ul > li {
  list-style: none outside;
  text-align: center;
}