.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.container h2.service-title {
  text-align: center;
  display: inline-block;
  font-size: 2em;
  font-style: normal;
  padding: 0.3em;
  border-bottom: 1px solid var(--color-border-default);
}

.container ul {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr) ) ;
  padding-top: 1.5em;
}

.container ul li.tabcontent {
  list-style: none outside;
  padding-bottom: 1em;
}
.container .tabcontent button {
  padding: 0.8em;
  border: 2px solid gray;
  border-radius: 0.5em;
  font-size: 1.2em;
}

#myDiv, #myDiv1, #myDiv2, #myDiv3, #myDiv4, #myDiv5 {
  display:none;
}

.container .img-repair {
  margin-right: 0.5em;
}