:root {
    --font-size-body: 14px;
    --font-size-body-large: 16px;
    --font-size-body-big: 18px;
    --font-size-body-huge: 20px;
    
    --layout-main-width: 70em;

    --color-body-text: #333333;
    --color-body-bgrd: rgb(226, 223, 223);
    --color-link-default: #358774;
    --color-body-text-white: #fff;
    --color-border-default: #565656;

    --spacing-layout-elements: 2em;
}