.content {
    .blog {
        display: flex;
        flex-direction: column;

        & > li {
            list-style: none outside;
            border-bottom: 2px solid black;
            padding: 1em 0;
            display: flex;
        }

        li {

            .text {
                flex-basis: 40%;
                display: flex;
                flex-direction: column;
                padding: 0 1em;

                h3 {
                    color: black;
                    text-decoration: none;
                    font-size: 1.5em;
                }
            }

            .media {
                width: 20em;
                height: 20em;
                overflow: hidden;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}
