

.welcome {
    position: relative;

    img {
        width: 100%;
        height: auto;
    }

    p {
        color: var(--color-button-bgrd);
        text-shadow: 4px 8px 5px rgba(0,0,0,0.61);
        font-size: 2.2em;
        font-style: italic;
        position: absolute;
        top: 20%; left: 50%;
        transform: translate(-50%,-50%);
        font-family: 'Merriweather', serif;
    }

    .button {
        background: var(--color-button-bgrd);
        color: var(--color-body-text-white);
        box-shadow: 4px 8px 5px 0px rgba(0,0,0,0.61);
        border-radius: 0.5em;
        font-size: 1.5em;
        padding: 0.3em 0.8em;
        font-style: italic;
        position: absolute;
        top: 30%; left: 57%;
    }
}


.check-our-stuff {
    margin-bottom: 1em;

    ul {
        display: flex;
        justify-content: space-evenly;
        padding: 0.5em;

        li {
            list-style: none outside;
            flex-basis: 24%;
            width: 15em;
            height: 10em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;

            & > img {
                width: 100%;
                height: auto;
                overflow: hidden;
                background: black;
            }

            &:hover a {
                color: black;
                border-color: black;
            }

            a {
                text-transform: uppercase;
                color: var(--color-body-text-white);
                font-weight: bold;
                font-style: italic;
                padding: 0.3em 0.5em;
                border: 3px solid var(--color-body-text-white);
                position: absolute;
                top: 50%; left: 50%;
                transform: translate(-50%,-50%);
                transition: color 0.5s ease-in-out, border 0.5s ease-in-out;
                cursor: pointer;

                &:hover,
                &:focus {
                    cursor: pointer;
                    z-index: 2;
                }
            }
        }

    }
}


.extras {
    display: flex;
    justify-content: space-around;

    section {
        background: whitesmoke;
        border: 3px solid var(--color-button-bgrd);
        text-align: center;
        margin-right: 1em;

        &:nth-child(1) { flex-basis: 40%;}
        &:nth-child(2) { flex-basis: 25%;}
        &:nth-child(3) { 
            flex-basis: 20%;
            margin-right: 0;
        }

        & > p {
            padding-bottom: 0.5em;
        }

        & > a {
            & > h4, 
            & > p {
                color: var(--color-body-text);
            }

            & > h4 {
                text-decoration-line: underline;
                text-transform: uppercase;
                font-weight: bold; 
            }

            & > i {
                font-size: 2.5em;
                padding: 0.5em 0;
                color: var(--color-button-bgrd);
            }
        }

        & > h4 {
            text-decoration-line: underline;
            text-transform: uppercase;
            font-weight: bold; 
        }

        i {
            font-size: 2.5em;
            padding: 0.5em 0;
            color: var(--color-button-bgrd);
        }

       
    }
}


.newsletter {
    margin: 2em 2em 0 2em;
    display: flex;

    i {
        font-size: 2em;
    }

    & > h4 {
        font-size: 1.5em;
        padding-left: 0.5em;
        margin-bottom: 0;
    }

    input {
        font-size: 1em;
        margin-left: auto;
        padding-left: 0.5em;
        background: whitesmoke;
        border-top-left-radius: 0.5em;
        border-bottom-left-radius: 0.5em;
        border: 1px solid var(--color-body-text-white);

        &:focus{
            outline: none;    
            border: 1px solid var(--color-button-bgrd);
        }
    }

    button{
        font-size: 1em;
        padding: 0 1em;
        background: var(--color-button-bgrd);
        color: var(--color-body-text-white);
        border-top-right-radius: 0.5em;
        border-bottom-right-radius: 0.5em;
        border: 2px solid var(--color-body-text-white);

        &:hover,
        &:focus  {
            outline: none;    
        }

        a {
            background: var(--color-button-bgrd);
            color: var(--color-body-text-white);
            border-top-right-radius: 0.5em;
            border-bottom-right-radius: 0.5em;
        }
    }



}


@media (max-width: 800px) {
    .welcome p {
        top: 30%;
        left: 40%;
    }

    .welcome .button{
        top: 35%;
        left: 65%;
    }

    .newsletter i,
    .newsletter h4 {
        font-size: 1em;
    }

    .newsletter input,
    .newsletter button {
        font-size: 0.7em;
    }

    .newsletter h4 { 
        padding: 0 0.5em;
    }

    .extras section {
        flex-basis: 25%;
    }
}