.site {
    max-width: var(--layout-main-width);
    margin: 2em auto;
    padding: 2em;

    @include bp (desktop) {
        &-header {
            display: flex;
            align-items: center;
        }
    
        &-header nav {
            margin-left: auto;
        }
    }
}

.nav-toggle {
    opacity: 0;
    pointer-events: none;
    position: absolute;

    &-button {
        display: none;
        margin-left: auto;
    }
}