.site-nav {

    & > ul {
        display: flex;
        padding: 0;

        & li {
            display: block;
            list-style: none outside;
            padding: 0 0.5em;

            &:first-child {
                padding-left: 0;
            }
        }
    }

    li.selected > a,
    a:hover {
        background: var(--color-link-default);
        color: var(--color-body-text-white);
    }

    li.selected > a i.fas::before, 
    a:hover i.fas:before {
        color: var(--color-body-text-white);
    }


    a {
        display: block;
        padding: 0.5em 1em;
        border-radius: 0.3em;
        background: var(--color-body-text-white);

        i.fas:before {
            color: var(--color-body-text);
            margin-right: 0.5em;
        }
    }
}
