.site {
    &-header{
        border-bottom: 1px solid var(--color-border-default, #999);
        margin-bottom: var(--spacing-layout-elements);
        padding-bottom: calc( var(--spacing-layout-elements) / 2);
    }
    
    &-title {
        padding: 0;
        margin: 0;
        font-size: 2em;

        a {
            display: block;
            padding: 0;
        }
    }

    @include bp (mobile) {
        &-nav {
            display: none;
        }

        & > ul {
            display: flex;
            flex-direction: column;

            & > li {
                padding: 0.5em; 
            }
        }
    }
}

.nav-toggle {
    @include bp (mobile) {
        &-button {
            display: block;
            .close {
                display: none;
            }
        

            &:checked {
                & + .site-header .site-nav{
                    display: block;
                    flex: 1 0 100%;
                    padding-top: 1em;
                }

                & + .site-header .nav-toggle-button .close {
                    display: block;
                }

                & + .site-header .nav-toggle-button .open {
                    display:none;
                }
            }
        }

    }
}